.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  text-align: center;
  font-family: sans-serif;
  font-weight: 100;
  background-color: black;
  color: #eee;
  background-image: url(/image/night-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: -50px;
}

h1 {
  padding-top: 30px;
  color: #eee;
  font-weight: 400;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv {
  margin-top: 50px;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 100px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 15px;
  background: #dcdf3657;
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 100px;
  background: #817800;
  display: inline-block;
}

.smalltext {
  padding-top: 15px;
  font-size: 32px;
}

#today {
  position: fixed;
  bottom: 0;
  right: 0;
}
/* ------------------------------- */
